32-Bit	RCDATA "extico.lrs"
64-Bit	RCDATA "extico.lrs"
Arrow-Refresh	RCDATA "extico.lrs"
Door-In	RCDATA "extico.lrs"
Door-Out	RCDATA "extico.lrs"
Error	RCDATA "extico.lrs"
Google-Custom-Search	RCDATA "extico.lrs"
Info	RCDATA "extico.lrs"
Page-White-Excel	RCDATA "extico.lrs"
Resultset-First	RCDATA "extico.lrs"
Resultset-Last	RCDATA "extico.lrs"
Resultset-Next	RCDATA "extico.lrs"
Resultset-Previous	RCDATA "extico.lrs"
Ssl-Certificates	RCDATA "extico.lrs"
